body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

.nav__link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-size: 18px;
}

.nav__span {
    color: #2e2f42;
}

.nav__links {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav__links:hover {
    color: #404bbf;
}
.nav__links:focus {
    color: #404bbf;
}
.nav__adress {
    font-style: normal;
}

.nav__adress-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav__adress-link:hover {
    color: #404bbf;
}
.nav__adress-link:focus { 
    color: #404bbf;
}

.section-first {
    background-color: #2e2f42;
}

.section-first__title {
    color: #FFFFFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    background-color: #2E2F42;
    line-height: 1.07
}
.section-first__button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    cursor: pointer;
}
.section-first__button:hover,
.section-first__button:focus {
    background-color: #404BBF;
}

.section-third {
    background-color: #F4F4FD;
}

.our-team {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    line-height: 1.11;
    text-transform: capitalize;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    width: 1440px;
    height: 312px;
}

.features {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
}
.item-discription {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

.team {
    background-color: #FFFFFF;
    color:"#434455"
}
.portfolio-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}
.portfolio-features {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color:#2E2F42;
}
.discription{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}
.footer {
    background-color: #2E2F42;
}
.footer__link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-size: 18px;
}

.footer__span {
    color: #f4f4fd;
}
.end {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #F4F4FD;
}
